* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: black;
    color: white;
    font-family: Verdana;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.container h1 {
    font-size: 50px;
    font-weight: normal;
    margin: 30px;
}

.container a {
    font-size: 16px;
    color: aquamarine;
    margin: 30px;
}




#travel-guide{
    font-weight: 300;
    font-size: 42px;
}
 #recommend{
     font-size: 21px;
     color: gray;
 }

 #camp{
     width: 800px;
     height: auto;
     margin: 30px auto;
 }

#cellphone {
    width: 100px;
    height: fit-content;
    margin: 30px auto;
}
#soon{
    font-weight: 300;
    font-size: 42px;
}
#copyright{
    color:gray;
    font-size: 21px;
    text-align: right;
    padding: 30px;
}
